.container{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0
}

.login-img{
    background-image: url('/static/img/login.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 998;
}

.login-img-mask{
    z-index: 999;
    opacity: 0.8;
}

.data-origin-item{
    width:100%;
    padding: 10px 10px 10px 10px
}

.database-card:hover{
    box-shadow: var(--el-box-shadow);
}